<h1 class="page-heading">Gallery</h1>
<% if @pictures.length == 0 %>
	<div class="row">
		<div class="col-md-12">
			<p class="lead">No pictures found</p>
		</div>
	</div>
<% else %>
	<% @pictures.each_slice(3) do |pics| %>
		<div class="row">
		<% pics.each do |pic| %>
			<div class="col-md-4">
				<div class="thumbnail">
					<a href="/public/<%=pic.listing.id%>/details">
						<img src="/images/<%=pic.filename%>" class="img-responsive" alt="picture"/>
					</a>
					<div class="caption">
						<h3><%= pic.title %></h3>
					</div>
				</div>
			</div>
		<% end %>
		</div>
	<% end %>
<% end %>